<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tech618.easymessengerserver">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".TheApplication">
        <service android:name=".ServerService"
                 android:exported="true"/>
        <provider
            android:authorities="com.tech618.easymessengerserver.BinderProvider"
            android:name=".BinderProvider"
            android:exported="true"/>
    </application>
</manifest>