<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.zmy.easymessenger.server">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".TheApplication">
        <service android:name=".ServerService"
                 android:exported="true"/>
        <provider
            android:authorities="test"
            android:name="cn.zmy.easymessenger.server.TestFunctionImplProvider"
            android:exported="true"/>
    </application>
</manifest>